.card{
    display: flex;
    flex-direction: column;
    background-color: #d3c5c9;
    color:#fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing : greyscale;
    backface-visibility: hidden;
    transform: translate(0);
    transition: transform 0.25s ease-out ;
    background-color: #000000;
}
.card:hover{
    transform: scale(1.05);
}