.search {
    -webkit-appearance: none;
    border: 1px solid #fff;
    background-color: #000;
    color:#fff;
    outline: none;
    padding: 10px;
    width: 30%;
    line-height: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    border-radius: 5px;
    text-transform: capitalize;
    
}